.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;

}

.content {


  overflow-y: auto;
}


@media (max-width: 375px)  {
  .siedebar{
    display: none;
  }
  
}
@media (max-width: 575px)  {
  .siedebar{
    display: none;
  }
  
}