.section {
  padding: 16px;

  margin: 0 auto;
}

.quizBox {
  border-radius: 16px;
  padding: 16px;
  width: 100%;

  background: #f2f2f7;
}

.header {
  display: flex;
  gap: 40%;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #101113;
  margin-top: 16px;
  margin-bottom: 20px;
}

.quizTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 180%;
  color: #101113;
}

.timer {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #101113;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.questionCard {
  position: relative;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  height: 202px;
  background: #fff;
}

.quizCardIcon {
  position: absolute;
  right: 5%;
  top: 25%;
}

.questionText {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1e1e1e;
  margin-bottom: 16px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;

  input[type="radio"] {
    accent-color: #0050d8;
    width: 16px;
    height: 16px;
  }
}

.variant {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #49454f;
}

.submitButton {
  border-radius: 16px;
  padding: 16px 41px;
  width: 100%;
  height: 56px;
  border: none;
  background: var(--primary);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #fff;
  margin-top: 16px;
}

@media (max-width: 375px) {
  .section {
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section {
    padding-bottom: 100px;
  }
}
