.section {
  padding: 16px;
}

.sectionTitle {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #101113;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
  gap: 16px;
}

.card {
  position: relative;
  background: white;
  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
}

.card:hover {
  transform: translateY(-4px);
}

.imageWrapper img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000;
}

.teacher {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #5c5f66;

  .teacherName {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #000;
  }
}

.progress {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #0061ff;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: 500;
}


@media (max-width: 375px) {
  .section {
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section {
    padding-bottom: 100px;
  }
}